/* 모바일 화면에서의 헤더 툴바 스타일 */
@media (max-width: 600px) {
  .fc {
    width: 100%;
    height: calc(70vh - 200px);
  }
  
  .fc-view {
    height: 100%;
  }
  
  
  
  /* 헤더 툴바 커스텀 버튼 정렬 */
  .fc-toolbar-chunk {
    font-size: 0.8em;
    margin-right: 0px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
  }

  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: 0 !important; /* 마진 제거 */
  }
  .fc-toolbar-chunk:last-child .fc-button{
    white-space: nowrap;
  }
  /* 타이틀과 버튼 사이의 마진 및 넓이 조정 */
  .fc-toolbar-title {
    font-size: 1.5rem; /* 타이틀 글씨 크기 조정 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    text-align: center; /* 타이틀 중앙 정렬 */
  }
}


.fc-view {
  height: 100%;
}

/* 헤더 스타일 */
.fc-toolbar.fc-header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
}

.fc-toolbar-title {
  font-size: 1.5rem;
  color: #333;
}

.fc-button-group {
  display: flex;
  gap: 10px;
}

.fc-button {
  background-color: #00bcd4;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.fc-button:hover {
  background-color: #0097a7;
}

.fc-button.fc-today-button {
  background-color: #80deea;
  color: #333;
}

.fc-button.fc-today-button:hover {
  background-color: #4dd0e1;
}

/* 달력 스타일 */
.fc .fc-daygrid-day {
  border: none;
}

.fc .fc-daygrid-day-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #e0f7fa;
  color: #333;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  background-color: #80deea;
}

.fc .fc-daygrid-day.fc-day-past .fc-daygrid-day-number {
  /* background-color: #b2ebf2; */
}

.fc .fc-daygrid-day.fc-day-future .fc-daygrid-day-number {
  background-color: #e0f7fa;
}

.fc .fc-daygrid-day.fc-day-selected .fc-daygrid-day-number {
  background-color: #4dd0e1;
}
/* 요일 헤더 스타일 */
.fc .fc-col-header-cell {
  border: none;
}
/* 이벤트 스타일 */
.fc .fc-event {
  background-color: #00acc1;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  background-color: #fff; /* 원하는 배경색으로 변경 */
}
/* 기본 prev, next 버튼 스타일 */
.fc .fc-prev-button  {
  background-color: transparent;
  border: none;
  color: #4FD4D6;
  font-size: 2rem;
  padding: 0.01px;
  cursor: pointer;
}
/* title 옆 마진 제거 */
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 1em; /* 마진 제거 */
}
.fc .fc-next-button{
  background-color: transparent;
  border: none;
  color: #4FD4D6;
  font-size: 2rem;
  padding: 0.01px;
  cursor: pointer;
}

.fc .fc-prev-button:hover, .fc .fc-next-button:hover {
  background-color: #f0f4f8;
  color: #00bcd4;

  border: none;
}
/* 헤더 툴바 커스텀 버튼 정렬 */
.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc-dayGridMonth-button {
  background-color: #4CAF50; /* 원하는 배경색으로 변경 */
  color: white; /* 버튼 텍스트 색상 */
  border: none; /* 버튼 테두리 제거 */
}

.fc-dayGridMonth-button:hover {
  background-color: #45a049; /* 호버 시 배경색 */
}


/* 선택된 상태의 버튼 스타일 */
.fc-button-primary.fc-button-active {
  background-color: #4FD4D6 !important; /* 선택된 버튼 배경색 */
  color: white !important; /* 선택된 버튼 텍스트 색상 */
}

.fc-toolbar-chunk:first-child {
  flex: 0.1;
}

.fc-toolbar-chunk:first-child .fc-button {
  background-color: #D1EFEF;
  color: black;
  border: none;
}

.fc-toolbar-chunk:nth-child(2) {
  display: flex;
  justify-content: center;
  flex: 2;
}

.fc-toolbar-chunk:nth-child(2) .fc-prev-button, .fc-toolbar-title, .fc-next-button {
  margin-left: 0; /* 모든 요소의 margin-left 제거 */
}

.fc-toolbar-chunk:last-child {
  background-color: #fff;
  flex: 0.3;
  display: flex;
  justify-content: flex-end;
}
/* 오늘버튼 스타일 */
.fc-toolbar-chunk:last-child .fc-button {
  background-color: #4FD4D6; /* 원하는 배경색으로 변경 */
  color: black; /* 버튼 텍스트 색상 */
  border: none;
}
/* 날짜에서 "일" 글씨 제거 */
.fc-daygrid-day-number::after {
  content: '';
}
.fc-daygrid-day-number {
  background-color: #fff;
}


/* 기존 스타일 유지 */
.fc-dayGridMonth-view .fc-view .fc-daygrid {
  border: none; /* 테두리 제거 */
}

/* 추가적인 테두리 제거 스타일 */
.fc .fc-daygrid-day-frame {
  border: none; /* 각 날짜 셀의 테두리 제거 */
}

.fc .fc-daygrid-day {
  border: none; /* 각 날짜 셀의 테두리 제거 */
}

.fc .fc-daygrid-day-top {
  border: none; /* 각 날짜 셀의 상단 테두리 제거 */
}

.fc .fc-daygrid-day-bg {
  border: none; /* 각 날짜 셀의 배경 테두리 제거 */
}

.fc-view-harness .fc-view-harness-active {
  border: none;
  height: calc(100vh - 80px); /* 세로 크기 조정 */
}

.fc-today-button .fc-button .fc-button-primary {
  background-color: #fff;
  color: white;
}

/* 토요일 스타일 */
.fc-day-sat {
  background-color: #e0f7fa; /* 연한 파란색 배경 */
  color: #00796b; /* 진한 파란색 텍스트 */
}

/* 일요일 스타일 */
.fc-day-sun {
  background-color: #ffebee; /* 연한 빨간색 배경 */
  color: #d32f2f; /* 진한 빨간색 텍스트 */
}

/* 토요일 날짜 스타일 */
.fc-day-sat .fc-daygrid-day-number {
  color: #00796b; /* 진한 파란색 텍스트 */
}

/* 일요일 날짜 스타일 */
.fc-day-sun .fc-daygrid-day-number {
  color: #d32f2f; /* 진한 빨간색 텍스트 */
}
/* 'custom-green': '#4FD4D6',
'custom-green-light': '#D1EFEF' */

/* 주 달력 스타일 */

.fc-timeGridWeek-view .fc-daygrid-day-number {
  display: block;
  text-align: center;
  font-size: 1rem;
  margin-top: 5px;
  color: #333;
}
